[package]
name = "minotari"
version = "0.1.0"
edition = "2024"
default-run = "minotari"

[[bin]]
name = "generate-openapi"
path = "src/bin/generate_openapi.rs"

[features]
default = []
tapplets = []

[dependencies]
anyhow = "1.0.99"
tokio = { version = "1.47.1", features = ["full"] }
#lightweight_wallet_libs = { path = "../tari-wallet", features = ["grpc","http",] }
lightweight_wallet_libs = { git = "https://github.com/tari-project/tari-wallet", rev = "3e2807b1731074b6c1c2d166ef72c9085afff5fb", features = [
    "grpc",
    "http",
] }
tari-tapplet-lib = { path = "../tari-tapplet-lib", features = ["host"] }
# lightweight_wallet_libs = { git = "https://github.com/tari-project/tari-wallet", rev = "8d8ef9da5b7436420663d20c81ca29a323253f2a", features = [
#     "grpc",
#     "http",
# ] }
clap = { version = "4.5.47", features = ["derive"] }
hex = "0.4.3"
chacha20poly1305 = { version = "0.10.1", features = ["rand_core", "std"] }
serde_json = "1.0.143"
sqlx = { version = "0.8.6", features = [
    "migrate",
    "runtime-tokio",
    "sqlite",
    "macros",
    "chrono",
] }
blake2 = "0.10.6"
tari_crypto = { version = "0.22.1", features = ["borsh"] }
tari_utilities = { version = "0.8", features = ["std"] }
chrono = "0.4.42"
serde = "1.0.225"
tari_common = { git = "https://github.com/tari-project/tari/", rev = "32b2e748cc1800823aebfa1d32799d2d9fee3bf5" }
tari_common_types = { git = "https://github.com/tari-project/tari/", rev = "32b2e748cc1800823aebfa1d32799d2d9fee3bf5" }
tari_script = { git = "https://github.com/tari-project/tari/", rev = "32b2e748cc1800823aebfa1d32799d2d9fee3bf5" }
tari_transaction_components = { git = "https://github.com/tari-project/tari/", rev = "32b2e748cc1800823aebfa1d32799d2d9fee3bf5" }
#tari_common = { path = "../tari/common" }
#tari_common_types = { path = "../tari/base_layer/common_types" }
#tari_script = { path = "../tari/infrastructure/tari_script" }
#tari_transaction_components = { path = "../tari/base_layer/transaction_components" }
thiserror = "2.0.17"
axum = { version = "0.8.6", features = ["default", "http2", "macros"] }
utoipa = "5.4.0"
utoipa-swagger-ui = { version = "9.0.2", features = ["axum"] }
uuid = { version = "1", features = ["v4"] }
async-trait = "0.1.89"
regex = "1.12.2"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
dialoguer = "0.11"
reqwest = { version = "0.12", features = ["json"] }
reqwest-middleware = "0.4"
reqwest-retry = "0.7"
url = "2.5"
tokio-util = { version = "0.7.17", features = ["rt"] }
num-format = "0.4.4"
