[workspace]
resolver = "2"
members = [
    "minotari",
    "integration-tests",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
authors = ["The Tari Development Community"]
license = "BSD-3-Clause"
